{% extends 'base.html' %}

{% block title %}
Company
{% endblock %}

{% block body %}

<p align="center" style="color:#66ccff"><b>EuropeIT</b> global teams serve customers in over 25 countries across
    North America, Europe, Asia and Australia.
        EPAM is a recognized market leader in multiple categories among top global independent research agencies
        and was one of only four technology companies to appear on Forbes 25 Fastest Growing Public Tech Companies
        list every year of publication since 2013.
        </p>
<div align="center" class="fotorama__stage__frame fotorama__loaded fotorama__loaded--img fotorama__active" style="left: 0px;">
    <img src="https://s.dou.ua/CACHE/images/img/static/gallery/31_AoyfR2Z/dc566bd5a85c4e955b812f2b8513d516.jpg"
         class="fotorama__img" style="width: 720px; height: 440px; left: 0.257611px; top: 0px;">
    </div>


</div>

{% endblock %}
